 ------
 Providing static content
 ------
 Miguel Bautista
 ------
 2025-11-29
 ------

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   https://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

Providing static content

 The plugin allows to copy static content to the resulting configuration packages. Set the <<<staticResources>>>
 configuration, using the {{{https://maven.apache.org/plugins/maven-resources-plugin/examples/resource-directory.html}Resources}} format.
 The following configuration specify a directory as source of static resources:

+-----+
<project>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>io.github.chablet</groupId>
        <artifactId>config-template-maven-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <templates>
            <resource>
              <directory>${project.basedir}/src/main/configuration/templates</directory>
            </resource>
          </templates>
          <staticResources>
            <resource>
              <directory>${project.basedir}/src/main/configuration/static</directory>
            </resource>
          </staticResources>
          <filters>
            <filter>config.properties</filter>
          </filters>
        </configuration>
        <executions>
          <execution>
            <phase>generate-resources</phase>
            <goals>
              <goal>make-config</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
  ...
</project>
+-----+

 The plugin will produce the following structure in the <<<target>>> directory:

+-----+
Project
  +- pom.xml
  +- configuration
      +- templates
         +- app.json
      +- static
         +- truststore.jks
  +- src
      +-main
         +- resources
  +         +- config.properties
  +- target
      +- configuration
          +- dev1
             +- app.json
             +- truststore.jks
          +- dev2
             +- app.json
             +- truststore.jks
          +- qa
             +- app.json
             +- truststore.jks
          +- prod
             +- app.json
             +- truststore.jks
+-----+

 Notice how static content was provided to all environments. Static content can include any file, including binary ones since they are not being filtered.

* Environment-specific static content

 The previous example assumes the exact static content is required to all environments, however it's possible to provide
 environment-specific content by using the same environment names.

 In the following example, static content-specific is provided in the final configuration:

+-----+
Project
  +- pom.xml
  +- configuration
      +- templates
          +- app.json
      +- static
          +- qa
             +- sample.csv      <-- environment specific
          +- prod
             +- keystore.jks    <-- environment specific
  +- src
      +-main
         +-resources
  +         +- config.properties
  +- target
      +- configuration
          +- dev1
             +- app.json
          +- dev2
             +- app.json
          +- qa
             +- app.json
             +- sample.csv      <-- environment specific
          +- prod
             +- app.json
             +- keystore.jks    <-- environment specific
+-----+

 Finally, the static content could include both files or subdirectories for all environments as well as environment-specific content.