# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        server-id: central
        server-username: MVN_CENTRAL_USERNAME
        server-password: MVN_CENTRAL_PASSWORD
    - name: Configure Git user
      run: |
        git config user.email "actions@github.com"
        git config user.name "GitHub Actions"
    - name: Deploy plugin to Maven repo
      run: |
        mvn -B release:prepare release:perform --file pom.xml
      env:
        MVN_CENTRAL_USERNAME: ${{ secrets.MVN_CENTRAL_USER }}
        MVN_CENTRAL_PASSWORD: ${{ secrets.MVN_CENTRAL_PASSWORD }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_SIGNING_KEY_PASSPHRASE }}
        MAVEN_GPG_KEY: ${{ secrets.MAVEN_SIGNGING_KEY }}
